body {
  font-size: 18px;
}

.wrapper {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}

.keys {
  height: 440px;
  background-color: tomato;
  box-shadow: 10px 5px 5px #424341;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 310px;
  background-color: #fefffb;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 70px;
  border: 3px solid black;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  z-index: 1;
}

.keyBlack {
  background-color: black;
  height: 200px;
  width: 70px;
  margin-top: 100px;
  border-radius: 15px;
  z-index: 2;
}
